<% extend 'layout' %>

<% 
SC = (c) ->
  t = c.end - Date.now()/1000
  switch
    when c.status == "created" then "ffffc0"
    when t < 15*24*3600 or c.status == "temporary" then "c0c0ff"
    when c.status == "signed" then "80ff80"
    else "c0c0c0"
    
CT = (tm) ->
    v = new Date()
    v.setTime(tm*1000)
    v.toLocaleString()

ST = (tm) ->
    (tm - Date.now()/1000)/(24*3600) | 0
%>

<script>
var msgact = " Note: To secure CA system, the pfx on the CA site is encrypted with your current website password. When you click 'Download' button, you will get a pfx re-encrypted by the password you provided in the following form. If you changed your website password recently, the pfx may not be re-encrypted, and the filename will be marked with '-not-re-encrypted'. You can reuse your old password to get the right one, or use a bash-script named pfxpasswd in thnet/test to change password manually.";
var msgcert = "New certificate";
var msgfirst = true;

function act(pass){
    pass = pass && $("cn").value.length > 3;
    $("download").disabled = !pass;
    $("revoke").disabled = !pass;
}
function bclick(cn){
    var m = $("msg");
    if(cn === "cert"){
        $(".cert").forEach(function(x){x.style.display = "inherit"});
        $(".act").forEach(function(x){x.style.display = "none"});
        msg = msgcert;
        m.style.fontSize = "large";
    } else {
        $("cn").value = cn;

        $(".act").forEach(function(x){x.style.display = "inherit"});
        $(".cert").forEach(function(x){x.style.display = "none"});
        msg = msgact;
        m.style.fontSize = "medium";
    }
    if(msgfirst && m.innerHTML !== ''){
        msgfirst = false;
        m.style.color="red";
    } else {
        m.innerHTML = msg;
        m.style.color="blue";
    }

    var t = cn!=='' ? "block" : "none";
    $(".dlgbox").forEach(function(x){x.style.display=t;});
    $(".mask").forEach(function(x){x.style.display=t;});
}
var cansubmit = true;
function dosubmit(){
    setTimeout(function(){ cansubmit=true; bclick(''); }, 100);
    return cansubmit;
}

<% if @err?.length > 0 : %>
<% if @body.action == "NewCert" : %>
  setTimeout(function(){ bclick('cert'); }, 100);
<% else if @body.action : %>
  setTimeout(function(){ bclick('<%- @body.cn %>'); }, 100);
<% end %>
<% end %>

</script>

Certs list
  <table style="text-align:center">
    <tr><th width=30px>Actions</th><th>ID</th><th>User</th><th>CN</th><th>EUID</th><th>End</th><th>Status</th><th>Last</th></tr>
        <% for cert in @certs : %>
            <tr style="background-color:#<%- SC cert %>;">
            <td><button onclick="bclick('<%- cert.cn %>')">...</button></td>
            <td><%- cert.rowid %><td><%- cert.user %></td><td><%- cert.cn %></td><td><%- cert.euid %></td>
            <td><%- ST cert.end %> days</td>
            <td><%- cert.status %></td>
            <td><%- CT cert.last %></td>
            </tr>
        <% end %>
  </table>


<% if @right == 'W': %>
<button onclick="bclick('cert')">Create a new certificate</button></td>
<% end %>
<hr>

<div class="mask"></div>

<div class="dlgbox">
<p id=msg><%- @err %></p>

<br>
<form action=/ca/ method=post onsubmit="return dosubmit();" autocomplete='nope'>

<table class=act>
<tr><td>CN</td><td><input id=cn name=cn></td></tr>
<tr><td>Password</td><td><input name=passwd type=password oninput="act(this.value.length>5);"></td></tr>
</table>

<table class=cert>
<tr><td>Name</td><td><input type=text name=name value="<%- @nextname %>"></td></tr>
<tr><td>Type</td><td><select name=type><option value=client>Client<option value=node>Node<option value=gateway>Gateway<option value=root>Root</select></td></tr>
</table>

<table><tr><td>
<input class=act id=download name=action value=Download disabled type=submit>
<% if @isroot and @right == 'W' : %>
<input class=act id=revoke name=action disabled value=Revoke type=submit>
<% end %>
<input class=cert type=submit name=action value=NewCert>
<input type=submit onclick="cansubmit=false; bclick('');" value=Cancel>
</td></tr></table>

</form>


</div>


