<% extend 'layout' %>

<% 
   
CT = (tm) ->
    v = new Date()
    v.setTime(tm*1000)
    v.toLocaleString()
    
%>

<script>

var userok = true;
var passok = false;
var pass2ok = false;
var allowok = true;
var pass = '';
function validateuser(u)
{
    var err = "";
    userok = true;
    if(u.length < 3){ err = "too short"; userok = false; }
    else if(!u.match(/^[a-z0-9_]+$/)){ err = "invalid char"; userok = false; }
    $("btn").disabled = !userok || !passok || !pass2ok || !allowok;
    $("usererr").innerHTML = err;
}

function validatepass(u)
{
    var err = "";
    passok = true;
    if(u.length < 6){ err = "too short"; passok = false; }
    else if(! u.match(/[a-z]/)) { err = "none lowercase char"; passok = false; }
    else if(! u.match(/[A-Z]/)) { err = "none uppercase char"; passok = false; }
    else if(! u.match(/[0-9]/)) { err = "none digital char"; passok = false; }
    $("btn").disabled = !userok || !passok || !pass2ok || !allowok;
    $("passerr").innerHTML = err;
    pass = u;
}

function validatepass2(u)
{
    if(u !== pass){
        $("pass2err").innerHTML = "not same";
        pass2ok = false;
    } else {
        $("pass2err").innerHTML = "";
        pass2ok = true;
    }
    $("btn").disabled = !userok || !passok || !pass2ok || !allowok;
}

function validateallow(u)
{
    var err = "";
    allowok = true;
    if(u.length>0){
        u.split(';').forEach(function(str){
            var r = str.substr(0, 1);
            var v = str.substr(1);
            if('RWD'.indexOf(r)<0){ allowok = false; err = "invalid right char"; }
            if(v !== '*' && v.length<3){ allowok = false; err = "invalid regexp"; }
        });
    }
    $("allowerr").innerHTML = err;
    $("btn").disabled = !userok || !passok || !pass2ok || !allowok;
}

</script>


<% if @users?.length : %>
<div>
Users list
  <table>
     <tr><th>Name</th><th>Last access</th><th>Allow</th></tr>
        <% for user in @users : %>
            <tr><td><%- user.name %></td><td><%- CT user.last %></td><td><%- user.allow %></tr>
        <% end %>
  </table>
</div>
<br><br>
<% end %>

<div>
<% if @name == "root": %>
Add user or
<% end %>
change password 

<form action=/ca/user method=post>
<table>
<tr><td>User</td><td><input type=text name=name value="<%- @name %>" oninput="validateuser(this.value);"></td><td id=usererr style="color:red"><%- @err %></td></tr>
<tr><td>Password</td><td><input type=password name=pass oninput="validatepass(this.value);"></td><td id=passerr style="color:red"></td></tr>
<tr><td>Retype it</td><td><input type=password name=pass2 oninput="validatepass2(this.value);"></td><td id=pass2err style="color:red"></td></tr>
<% if @name == "root" and @right == "W": %>
<tr><td>Allow</td><td><input type=text name=allow oninput="validateallow(this.value);"></td><td id=allowerr style="color:red"></td></tr>
<% end %>
<tr><td></td><td><input id=btn disabled type=submit> </td><td></td></tr>
</table>
</form>

Note:<br>
<li>root can change other's password, but they WILL NOT be able to download their pfxs generated previously.
<li>Username should be a string containing at least 3 chars [a-z0-9_]
<li>Password should be a string containing at least 6 chars, and 3 types (uppercase, lowercase, digital)
<li>Allow is a string describing users access rights based on their IP/client certificate. Right can be choosed from ['R', 'W', 'D'] which mean [Read, Write, Download]. IP/certificate is a RegExp string or '*'. Multiple rights is seperated by ';'. Examples follow:
<ul style="color:blue; border-style:solid; border-width:1px; border-color:black">
W\w+\.client\.dev\.tijee\.com;R*<br>
W\w+\.client\.tijee\.com;D218\.240\.3\.\d+<br>
</ul>

</div>

<hr>

