<% extend 'layout' %>

<% 
    
UT = (host) ->
  t = Date.now()/1000 - host.start
  switch
    when t >= 86400 then ((t/86400)|0) + "D " + (((t/3600)%24)|0) + "H"
    when t >= 3600 then ((t/3600)|0) + "H " + (((t/60)%60)|0) + "M"
    else ((t/60)|0) + "M " + ((t%60)|0) + "S"
    
%>


<div>
<h2><%- @cfg?.CN %></h2> 

<table border=1 width=80%>
<tr><th>CN</th><th>Uptime</th><th>IPv4</th><th>IPv6</th></tr>
<% cnt = 0 %>
<% for cn,host of @hosts : %>
   <tr style="background-color:#<%- if host.start>0 then '80ff80' else 'ff8080' %>;"><td><%- cn %></td>
    <td><%- if host.start>0 then UT host else 'down' %></td><td><%- host.a %></td><td><%- host.aaaa %></td></tr>
    <% cnt += 1 %>
<% end %>
</table>
Total <%- cnt %> hosts.
</div>


