<!DOCTYPE html>
<html>
    <head>
<style>
table { border-collapse: collapse; }
table, td, th { border: 1px solid black; }
.mask{ display:none; width:100%; height:100%; position:absolute; background:#808080; z-index:10; top:0; left:0; opacity:0.4; }
.dlgbox { display:none; background:#e0e0e0; position:absolute; border: 10px solid darkgreen; padding: 10px; top:15%; left:30%; width:40%; height:60%; z-index:20; }
</style>
<script>
function $(nm){
    if(nm[0] === '.'){
        var x = document.getElementsByClassName(nm.substr(1));
        if(!x.forEach)x.forEach = function(cb){
            var l=this.length;
            for(var i=0;i<l;i++)cb(this[i],i);
        }
        return x;
    }
    return document.getElementById(nm);
}
</script>

        <title><%- @title %></title>
    </head>
    <body>
        <% content %>
        <% include 'footer' %>
    </body>
</html>
